.header {
  height: 40px;
  background-color: #0070F3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.footer {
  height: 40px;
  background-color: #0070F3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}